{% extends "base.html.twig" %}

{% block base %}
     <div class="container">
        <h1 class="mt-4">Receitas da comunidade</h1>

        <div class="d-flex justify-content-end">
            <a href="{{ path('recipe_new') }}" class="btn btn-primary">Nova Receita</a>
        </div>

        <div class="count d-flex justify-content-end mt-4">
            <h4>
                {{ recipes|length > 0 ? recipes.getTotalItemCount : "0" }} receitas ao total
            </h4>
        </div>

        <div class="row">

            {% for recipe in recipes %}

                <div class="card border-primary col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card-header">{{ 'Receita n° ' ~ recipe.id }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <p class="card-text">
                            {{ recipe.description|slice(0, 100) ~ '...' }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="card border-primary col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Nenhuma receita disponível</h4>
                        <p class="card-text"></p>
                    </div>
                </div>asdasd
            {% endfor %}
        </div>

        <div class="navigation d-flex justify-content-center">
            {% if recipes|length > 0 %}
                {{ knp_pagination_render(recipes) }}
            {% endif %}
        </div>

    </div>
{% endblock %}