{% extends "base.html.twig" %}

{% block body %}

	<div class="container my-5">
		<div class="p-5 text-center bg-body-tertiary rounded-3">
			<h1 class="text-body-emphasis">
				Welcome To The Mato
			</h1>
			<p class="col-lg-8 mx-auto fs-5 text-muted">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit, quam sed pulvinar facilisis, enim metus hendrerit felis, sed mattis nisi nulla nec dolor. Duis id augue lectus.
			</p>
			<div class="d-inline-flex gap-2 mb-5">
				<a href="{{ path('security_registration') }}" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
					Inscription
				</a>
			</div>
		</div>
	</div>

	<div class="container text-center">
		<h2 class="mt-4">Receitas da comunidade</h2>
		<div class="row">

            {% for recipe in recipes %}

                <div class="card border-primary col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card-header">{{ 'Receita n° ' ~ recipe.id }}</div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('recipe_show', {id: recipe.id}) }}">{{ recipe.name }}</a>
                        </h4>
                        <p class="card-text">
                            {{ recipe.description|slice(0, 100) ~ '...' }}
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="card border-primary col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Nenhuma receita disponível</h4>
                        <p class="card-text"></p>
                    </div>
                </div>asdasd
            {% endfor %}
        </div>
	</div>

{% endblock %}
